@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward');
/* ===== Variables ===== */

:root {
    --main-font: 'Balsamiq Sans', Arial, sans-serif;
    --accent-font: 'Lilita One', 'Balsamiq Sans', Arial, sans-serif;

    /* colors */
    --primary: #4FC3F7;
    --secondary: #FF7043;
    --accent-1: #FFEB3B;
    --accent-2: #81C784;
    --accent-3: #7952c0;

    --light: #FAFAFA;
    --dark: #424242;
}

/* ===== Reset ===== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: none; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--accent-font);
    text-wrap: balance;
    font-weight: 400;
}

p, a, li, button, label, input {
    font-family: var(--main-font);
    text-wrap: pretty;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

p, a, li {color: var(--dark)}



/* Buttons */
button {
    --shadow-clr: hsl(from var(--accent-3) h s calc(l + 20));
    --hover-time: 0.2s;
    padding: clamp(.3rem, 1vw, .5rem) clamp(1rem, 2vw, 1.3rem);
    border-radius: 100vmax;
    background-color: var(--accent-3);
    color: var(--accent-3);
    cursor: pointer;
    border: clamp(2px, .5vw, 5px) solid var(--accent-3);
    overflow: hidden;
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    gap: .3rem;
    transition: all var(--hover-time) ease;
}

button::before {
    content: '';
    position: absolute;
    inset-inline: 0;
    inset-block: 0;
    width: 100%;
    z-index: -1;
    background-color: var(--light);
    transition: width var(--hover-time) ease;
}

button.hover {
    color: var(--light);
    translate: 0 -5px;
    box-shadow: 0 5px 0 var(--shadow-clr);
}

button.hover::before {
    width: 0;
    left: unset;
}

button.leave::before {
    inset-inline: 0;
}

button:active {
    translate: 0 0; 
    box-shadow: none;
}

/* ===== Body ===== */

body {
    background-color: var(--light);
    height: 100vh;
    position: relative;
}

/* ===== Header ===== */

#start-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#start-screen .logo-wrapper {
    font-family: var(--accent-font);
    font-size: clamp(3.5rem, 10vw, 5rem);
    color: var(--primary);
    & > span:nth-of-type(2) {color: var(--secondary)}
}

/* Main App */

#app {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    padding-inline: 1rem;
}

/* progress bar */

#progress-bar {
    width: clamp(15rem, 100%, 50rem);
    height: 1.5rem;
    border: 3px solid var(--accent-1);
    border-radius: 100vmax;
    position: relative;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / .2));
}

#progress-bar #indicator {
    border-radius: inherit;
    position: absolute;
    inset-block: 0;
    left: 0;
    width: 0%;
    background-color: var(--accent-1);
    transition: width 0.2s ease;
}

/* full form */

#user-input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: clamp(15rem, 100%, 50rem);
    height: 60%;
    /* background-color: var(--primary); */
    overflow-x: clip;
    --darker-clr: hsl(from var(--primary) h s calc(l - 15));
    background-image: linear-gradient(to bottom right, var(--primary), var(--darker-clr));
    box-shadow: inset 2px 2px 4px rgb(255 255 255 / .5),
                inset -2px -2px 4px rgb(0 0 0 / .2),
                2px 2px 8px rgb(0 0 0 /.2);
}

/* individual input wrappers */

.input-container {
    position: absolute;
    inset-block: 0;
    margin: auto;
    display: none;
    height: fit-content;
    width: 100%;
    animation: leave 1s ease;
}

.input-container.show {
    display: block;
    animation: enter 1s ease;
}

@keyframes enter {
    from {
        left: -100%;
        opacity: 0;
        scale: .9;
    }
    to {
        left: 0;
        opacity: 1;
        scale: 1;
    }
}

@keyframes leave {
    from {
        display: block;
        left: 0;
        opacity: 1;
        scale: 1;
    }
    to {
        display: none;
        left: 100%;
        opacity: 0;
        scale: .9;
    }
}

.input-container label, input {
    padding: .5rem 1rem;
    display: block;
    text-align: center;
    border-radius: .75rem;
    width: 90%;
    margin-inline: auto;
}

.input-container label {
    background-color: var(--secondary);
    color: var(--light);
    margin-bottom: 1rem;
}

.input-container input {
    background-color: white;
    border: 3px solid hsl(from var(--primary) h calc(s + 20) calc(l - 20));
    transition: all 0.2s ease;
    color: var(--dark);
}

input:focus {
    outline: none;
    translate: 0 -5px;
    box-shadow: 0 2px 5px  rgb(0 0 0 /.2);
}

#user-input-form button {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    width: fit-content;
    border-width: 3px;

}

#user-input-form button.hover {
    padding: calc(clamp(.3rem, 1vw, .5rem) + 3px) calc(clamp(1rem, 2vw, 1.3rem) + 3px);
    border: none;
    box-shadow: inset 2px 2px 4px rgb(255 255 255 / .3),
                inset -2px -2px 4px rgb(0 0 0 / .2),
                2px 2px 8px rgb(0 0 0 /.2);
}

#user-input-form button::before {
    background-color: var(--darker-clr);
}

#user-input-form button::after {
    content: 'arrow_forward';
    font-family: 'Material Symbols Rounded';
    font-weight: 500;
}

/* Story screen */

#story-screen {
    min-height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

#story-title {
    --shadow-clr:  hsl(from var(--primary) h calc(s + 20) calc(l - 20));
    color: var(--primary);
    font-size: clamp(2rem, 5vw, 4rem);
    text-align: center;
    text-shadow:    1px 1px 0 var(--shadow-clr),
                    2px 2px 0 var(--shadow-clr),
                    3px 3px 0 var(--shadow-clr),
                    4px 4px 0 var(--shadow-clr);
    -webkit-text-stroke: 1px var(--shadow-clr);
    
}

#story-container {
    line-height: 1.8;
    max-width: 80ch;
    box-shadow: inset 1px 1px 8px rgb(0 0 0 /.3);
    border-radius: 1rem;
    padding: 1rem;
}

#story-container strong {
    text-transform: uppercase;
    color: var(--accent-3);
}